<!DOCTYPE html>
<html>
  <head>
<!--<meta http-equiv="refresh" content="3;url=https://www.mybae.id">-->
    <title>Opsie ...</title>
  </head>
  <style>
    body {
      font-family: arial, sans-serif;
      text-align: center;
    }
    h2 {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
    
    p{
      margin-top: 1rem;
    }
    
    img {
      display: flex;
      margin: auto;
      border-radius: 5px;
    }
    p {
      font-weight: bold;
    }
  </style>
  <body>
    <h2>404 Not Found</h2>
    <img src="https://mybae.id/img/not-found-404.jpg" alt="404 not found :(">
    <p>The page you were looking for doesn't exist or was moved.</p>
  </body>
</html>
      